.macbook-pro-14-2-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--color-lavenderblush);
  backdrop-filter: blur(24.2px);
  border-bottom: 1px solid var(--color-lightpink);
  box-sizing: border-box;
  width: 1520px;
  height: 95px;
}
.audichecker1,
.home1 {
  text-decoration: none;
  width: 124.2px;
  position: relative;
  letter-spacing: -0.25px;
  line-height: 51.18px;
  font-weight: 500;
  display: inline-block;
  height: 50px;
  flex-shrink: 0;
}
.home1 {
  color: var(--color-gray-100);
}
.audichecker1 {
  width: 177.3px;
}
.audichecker-container,
.menu1 {
  display: flex;
  flex-direction: row;
}
.audichecker1 {
  align-items: center;
  justify-content: center;
  color: var(--color-deeppink-100);
}
.menu1 {
  position: absolute;
  height: 1.75%;
  top: 0.77%;
  bottom: 97.48%;
  left: calc(50% + 398px);
  width: 302px;
  align-items: flex-start;
  justify-content: flex-start;
}
.audihealth,
.logo-icon2 {
  position: absolute;
  top: 32px;
  left: 100px;
  width: 25.8px;
  height: 37px;
}
.audihealth {
  top: 36px;
  left: 145px;
  line-height: 19.49px;
  font-weight: 600;
  color: var(--color-mediumvioletred-100);
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 22px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite);
  width: 50px;
  height: 50px;
}
.logo-icon3 {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 23.2px;
  height: 23px;
}
.rectangle-parent {
  width: 50px;
  position: relative;
  height: 50px;
}
.audichecker2 {
  width: 456.5px;
  position: relative;
  letter-spacing: -0.25px;
  line-height: 25.5px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.group-container {
  position: absolute;
  top: 55px;
  left: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.group-item {
  border-radius: var(--br-xl);
  background-color: var(--color-deeppink-200);
  border: 2px dashed var(--color-mediumvioletred-200);
  box-sizing: border-box;
}
.group-item,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1250px;
  height: 159px;
}
.group-inner {
  border-radius: var(--br-8xs);
  background-color: var(--color-deeppink-100);
  border: 1px solid var(--color-deeppink-100);
  box-sizing: border-box;
}
.group-frame,
.group-inner,
.upload-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 687.1px;
  height: 58.7px;
}
.upload-icon {
  top: 11.7px;
  width: 31px;
  height: 28.4px;
}
.record-audio {
  position: absolute;
  top: 0;
  left: 238.7px;
  line-height: 37px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175.9px;
  height: 58.7px;
  cursor: pointer;
}
.group-parent3,
.upload-icon1,
.upload-parent {
  position: absolute;
  top: 0;
  left: 36.7px;
  width: 214.7px;
  height: 58.7px;
}

.InputMP3 {
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  left: 0;
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.group-parent3,
.upload-icon1 {
  left: 438px;
  width: 287.1px;
}
.upload-icon1 {
  top: 11.2px;
  left: 200px;
  width: 31px;
  height: 28.4px;
  overflow: hidden;
}
.or {
  position: absolute;
  top: 10.7px;
  left: 351px;
  line-height: 37px;
  font-weight: 500;
  color: var(--color-darkslategray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 36.2px;
}
.group-child2,
.group-parent2 {
  position: absolute;
  top: 48.9px;
  left: 262px;
  width: 725.1px;
  height: 58.7px;
}
.group-child2 {
  top: 66.5px;
  left: 481.4px;
  border-radius: var(--br-3xs);
  width: 290px;
  height: 83.1px;
}
.group-child3,
.group-div {
  position: absolute;
  width: 1250px;
}
.group-div {
  top: 160px;
  left: 45px;
  height: 159px;
  color: var(--no-change-white);
}
.group-child3 {
  top: 0;
  left: 0;
  border-radius: 7px;
  border: 1px solid var(--color-deeppink-100);
  box-sizing: border-box;
  height: 68px;
}
.local-hospital-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.diagnose {
  position: relative;
  line-height: 37px;
  font-weight: 600;
}
.local-hospital-parent {
  position: absolute;
  top: 15px;
  left: calc(50% - 72px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
.rectangle-group {
  position: absolute;
  top: 342px;
  left: 45px;
  width: 1250px;
  height: 68px;
  color: var(--color-deeppink-100);
}
.frame-parent,
.macbook-pro-14-2 {
  background-color: var(--no-change-white);
  overflow: hidden;
}
.frame-parent {
  position: absolute;
  top: 170px;
  left: calc(50% - 670px);
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1340px;
  height: 465px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.macbook-pro-14-2 {
  width: 100%;
  position: relative;
  height: 2862px;
  text-align: center;
  font-size: var(--font-size-5xl-2);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}

.diagnose {
  padding: 10px 20px;
  margin-top: 5px;
  background-color: var(--color-lavenderblush);
  border-radius: var(--br-8xs);
  border: none;
  font-size: large;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.diagnose:hover {
  background-color: var(--color-deeppink-100);
  color: white;
}

.Predictions {
  position: relative;
  top: 830px;
  font-size: var(--font-size-5xl-2);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.audio-player {
  position: relative;
  top: 568px;
  color: var(--color-black);
}

.graph-container {
  position: relative;
  top: 700px;
  left: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1440px) {
  .menu1 {
    top: 0.7%;
    left: 1250px;
  }
  .audichecker1 {
    display: none;
  }

  .frame-parent {
    top: 125px;
  }

  .audio-player {
    top: 585px;
  }
}

@media (max-width: 1280px) {
  .macbook-pro-14-2-child {
    width: 1280px;
    height: 80px;
  }
  .logo-icon2 {
    top: 21px;
    left: 50px;
  }
  .audihealth {
    top: 29px;
    left: 100px;
  }
  .menu1 {
    top: 0.5%;
    left: 1100px;
  }
  .audichecker1 {
    display: none;
  }
  .frame-parent {
    top: 120px;
    left: 20px;
    width: 1240px;
  }
  .group-div {
    left: 20px;
    width: 1200px;
  }
  .group-item,
  .group-wrapper {
    width: 1200px;
  }

  .group-parent2 {
    left: 240px;
    width: 960px;
  }
  .rectangle-group {
    left: 20px;
    width: 400px;
  }
  .group-child3 {
    height: 68px;
    width: 1200px;
  }
  .diagnose {
    left: 390px;
  }
  .audio-player {
    top: 580px;
  }
}
@media (max-width: 1024px) {
  .macbook-pro-14-2-child {
    width: 1024px;
    height: 80px;
  }
  .logo-icon2 {
    top: 21px;
    left: 50px;
  }
  .audihealth {
    top: 29px;
    left: 100px;
  }
  .menu1 {
    top: 0.5%;
    left: 860px;
  }
  .audichecker1 {
    display: none;
  }
  .frame-parent {
    top: 120px;
    left: 20px;
    width: 985px;
  }
  .group-div {
    left: 20px;
    width: 940px;
  }
  .group-item,
  .group-wrapper {
    width: 945px;
  }

  .group-parent2 {
    left: 120px;
    width: 395px;
  }
  .rectangle-group {
    left: 20px;
    width: 400px;
  }
  .group-child3 {
    height: 68px;
    width: 945px;
  }
  .diagnose {
    left: 270px;
  }
  .audio-player {
    top: 580px;
  }
}

@media (max-width: 500px) {
  .macbook-pro-14-2-child {
    width: 500px;
    height: 80px;
  }
  .logo-icon2 {
    top: 21px;
    left: 15px;
  }
  .audihealth {
    top: 29px;
    left: 60px;
  }
  .menu1 {
    top: 0.5%;
    left: 365px;
  }
  .audichecker1 {
    display: none;
  }
  .frame-parent {
    top: 120px;
    left: 20px;
    width: 460px;
  }
  .group-div {
    left: 20px;
    width: 420px;
  }

  .group-item,
  .group-wrapper {
    width: 420px;
  }

  .group-parent2 {
    left: 25px;
    width: 380px;
  }
  .upload-icon1 {
    top: 11.2px;
    left: 30px;
  }
  .record-audio {
    left: 90px;
  }
  .group-frame,
  .group-inner,
  .upload-icon {
    width: 375px;
  }
  .rectangle-group {
    left: 20px;
    width: 400px;
  }
  .group-child3 {
    height: 68px;
    width: 420px;
  }
  .diagnose {
    left: 10px;
    transform: scale(0.8);
  }
  .audio-player {
    top: 570px;
    transform: scale(0.8);
  }
  .graph-container {
    top: 500px;
    left: 10px;
    transform: scale(0.4);
  }
}

@media (max-width: 425px) {
  .macbook-pro-14-2-child {
    width: 425px;
    height: 55px;
  }
  .logo-icon2 {
    top: 10px;
    left: 10px;
    transform: scale(0.7);
  }
  .audihealth {
    top: 17px;
    left: 18px;
    transform: scale(0.7);
  }
  .menu1 {
    top: 0.05%;
    left: 270px;
    transform: scale(0.7);
  }
  .audichecker1 {
    display: none;
  }
  .frame-parent {
    top: 10px;
    left: -45px;
    width: 515px;
    transform: scale(0.7);
  }
  .group-div {
    left: 20px;
    width: 465px;
  }

  .group-item,
  .group-wrapper {
    width: 470px;
  }

  .group-parent2 {
    left: 25px;
    width: 420px;
  }
  .upload-icon1 {
    top: 11.2px;
    left: 60px;
  }
  .record-audio {
    left: 105px;
  }
  .group-frame,
  .group-inner,
  .upload-icon {
    width: 420px;
  }
  .rectangle-group {
    left: 20px;
    width: 465px;
  }
  .group-child3 {
    height: 68px;
    width: 470px;
  }
  .diagnose {
    left: 10px;
    transform: scale(0.8);
  }
  .audio-player {
    top: 400px;
    transform: scale(0.8);
  }
  .graph-container {
    top: 470px;
    left: 8px;
    transform: scale(0.4);
  }
}

@media (max-width: 390px) {
  .macbook-pro-14-2-child {
    width: 390px;
    height: 55px;
  }
  .logo-icon2 {
    top: 7px;
    left: 10px;
    transform: scale(0.65);
  }
  .audihealth {
    top: 15px;
    left: 15px;
    transform: scale(0.65);
  }
  .menu1 {
    top: -0.001%;
    left: 230px;
    transform: scale(0.65);
  }
  .audichecker1 {
    display: none;
  }

  .frame-parent {
    top: 10px;
    left: -45px;
    width: 475px;
    transform: scale(0.7);
  }
  .group-div {
    left: 20px;
    width: 430px;
  }

  .group-item,
  .group-wrapper {
    width: 430px;
  }

  .group-parent2 {
    left: 25px;
    width: 380px;
  }
  .upload-icon1 {
    top: 11.2px;
    left: 45px;
  }
  .record-audio {
    left: 75px;
  }
  .group-frame,
  .group-inner,
  .upload-icon {
    width: 380px;
  }
  .rectangle-group {
    left: 22px;
    width: 430px;
  }
  .group-child3 {
    height: 68px;
    width: 428px;
  }
  .diagnose {
    left: 5px;
  }
  .audio-player {
    top: 370px;
    transform: scale(0.6);
  }
  .graph-container {
    top: 470px;
    left: 8px;
    transform: scale(0.35);
  }
}

@media (max-width: 375px) {
  .macbook-pro-14-2-child {
    width: 375px;
    height: 55px;
  }
  .logo-icon2 {
    top: 7px;
    left: 10px;
    transform: scale(0.65);
  }
  .audihealth {
    top: 15px;
    left: 15px;
    transform: scale(0.65);
  }
  .menu1 {
    top: -0.001%;
    left: 230px;
    transform: scale(0.65);
  }
  .audichecker1 {
    display: none;
  }

  .frame-parent {
    top: 10px;
    left: -45px;
    width: 465px;
    transform: scale(0.7);
  }
  .group-div {
    left: 20px;
    width: 420px;
  }

  .group-item,
  .group-wrapper {
    width: 422px;
  }

  .group-parent2 {
    left: 25px;
    width: 370px;
  }
  .upload-icon1 {
    top: 11.2px;
    left: 45px;
  }
  .record-audio {
    left: 75px;
  }
  .group-frame,
  .group-inner,
  .upload-icon {
    width: 372px;
  }
  .rectangle-group {
    left: 22px;
    width: 420px;
  }
  .group-child3 {
    height: 68px;
    width: 420px;
  }
  .diagnose {
    left: 3px;
  }
  .audio-player {
    top: 370px;
    transform: scale(0.6);
  }
  .graph-container {
    top: 500px;
    left: 8px;
    transform: scale(0.3);
  }
}

@media (max-width: 320px) {
  .macbook-pro-14-2-child {
    width: 320px;
    height: 50px;
  }
  .logo-icon2 {
    top: 7px;
    left: 10px;
    transform: scale(0.6);
  }
  .audihealth {
    top: 15px;
    left: 10px;
    transform: scale(0.6);
  }
  .menu1 {
    top: -0.04%;
    left: 180px;
    transform: scale(0.6);
  }
  .audichecker1 {
    display: none;
  }

  .frame-parent {
    top: 0px;
    left: -45px;
    width: 410px;
    transform: scale(0.7);
  }
  .group-div {
    left: 20px;
    width: 370px;
  }

  .group-item,
  .group-wrapper {
    width: 370px;
  }

  .group-parent2 {
    left: 25px;
    width: 325px;
  }
  .upload-icon1 {
    top: 11.2px;
    left: 30px;
  }
  .record-audio {
    left: 60px;
  }
  .group-frame,
  .group-inner,
  .upload-icon {
    width: 320px;
  }
  .rectangle-group {
    left: 20px;
    width: 370px;
  }
  .group-child3 {
    height: 68px;
    width: 370px;
  }
  .diagnose {
    left: 0px;
  }
  .audio-player {
    top: 360px;
    transform: scale(0.6);
  }
  .graph-container {
    top: 500px;
    left: 8px;
    transform: scale(0.4);
  }
}
