.macbook-pro-14-2-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--color-lavenderblush);
  backdrop-filter: blur(24.2px);
  border-bottom: 1px solid var(--color-lightpink);
  box-sizing: border-box;
  width: 1512px;
  height: 95px;
}
.audichecker1,
.home1 {
  text-decoration: none;
  width: 124.2px;
  position: relative;
  letter-spacing: -0.25px;
  line-height: 51.18px;
  font-weight: 500;
  display: inline-block;
  height: 50px;
  flex-shrink: 0;
}
.home1 {
  color: var(--color-gray-100);
}
.audichecker1 {
  width: 177.3px;
}
.audichecker-container,
.menu1 {
  display: flex;
  flex-direction: row;
}
.audichecker1 {
  align-items: center;
  justify-content: center;
  color: var(--color-deeppink-100);
}
.menu1 {
  position: absolute;
  height: 1.75%;
  top: 0.77%;
  bottom: 97.48%;
  left: calc(50% + 398px);
  width: 302px;
  align-items: flex-start;
  justify-content: flex-start;
}
.audihealth,
.logo-icon2 {
  position: absolute;
  top: 32px;
  left: 100px;
  width: 25.8px;
  height: 37px;
}
.audihealth {
  top: 36px;
  left: 145px;
  line-height: 19.49px;
  font-weight: 600;
  color: var(--color-mediumvioletred-100);
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 22px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite);
  width: 50px;
  height: 50px;
}
.logo-icon3 {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 23.2px;
  height: 23px;
}
.rectangle-parent {
  width: 50px;
  position: relative;
  height: 50px;
}
.audichecker2 {
  width: 456.5px;
  position: relative;
  letter-spacing: -0.25px;
  line-height: 25.5px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.group-container {
  position: absolute;
  top: 55px;
  left: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.group-item {
  border-radius: var(--br-xl);
  background-color: var(--color-deeppink-200);
  border: 2px dashed var(--color-mediumvioletred-200);
  box-sizing: border-box;
}
.group-item,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1250px;
  height: 159px;
}
.group-inner {
  border-radius: var(--br-8xs);
  background-color: var(--color-deeppink-100);
  border: 1px solid var(--color-deeppink-100);
  box-sizing: border-box;
}
.group-frame,
.group-inner,
.upload-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 687.1px;
  height: 58.7px;
}
.upload-icon {
  top: 11.7px;
  width: 31px;
  height: 28.4px;
  /* overflow: hidden; */
  /* background-color: white; */
}
.record-audio {
  position: absolute;
  top: 0;
  left: 238.7px;
  line-height: 37px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175.9px;
  height: 58.7px;
  cursor: pointer;
}
.group-parent3,
.upload-icon1,
.upload-parent {
  position: absolute;
  top: 0;
  left: 36.7px;
  width: 214.7px;
  height: 58.7px;
}

.InputMP3 {
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  left: 0;
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.group-parent3,
.upload-icon1 {
  left: 438px;
  width: 287.1px;
}
.upload-icon1 {
  top: 11.2px;
  left: 200px;
  width: 31px;
  height: 28.4px;
  overflow: hidden;
}
.or {
  position: absolute;
  top: 10.7px;
  left: 351px;
  line-height: 37px;
  font-weight: 500;
  color: var(--color-darkslategray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 36.2px;
}
.group-child2,
.group-parent2 {
  position: absolute;
  top: 48.9px;
  left: 262px;
  width: 725.1px;
  height: 58.7px;
}
.group-child2 {
  top: 66.5px;
  left: 481.4px;
  border-radius: var(--br-3xs);
  width: 290px;
  height: 83.1px;
}
.group-child3,
.group-div {
  position: absolute;
  width: 1250px;
}
.group-div {
  top: 160px;
  left: 45px;
  height: 159px;
  color: var(--no-change-white);
}
.group-child3 {
  top: 0;
  left: 0;
  border-radius: 7px;
  border: 1px solid var(--color-deeppink-100);
  box-sizing: border-box;
  height: 68px;
}
.local-hospital-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.diagnose {
  position: relative;
  line-height: 37px;
  font-weight: 600;
}
.local-hospital-parent {
  position: absolute;
  top: 15px;
  left: calc(50% - 72px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
.rectangle-group {
  position: absolute;
  top: 342px;
  left: 45px;
  width: 1250px;
  height: 68px;
  color: var(--color-deeppink-100);
}
.frame-parent,
.macbook-pro-14-2 {
  background-color: var(--no-change-white);
  overflow: hidden;
}
.frame-parent {
  position: absolute;
  top: 195px;
  left: calc(50% - 670px);
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1340px;
  height: 465px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.macbook-pro-14-2 {
  width: 100%;
  position: relative;
  height: 2862px;
  text-align: center;
  font-size: var(--font-size-5xl-2);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}

/* newly added */
.diagnose {
  /* background-color: #007bff; */
  /* color: white; */
  padding: 10px 20px;
  margin-top: 5px;
  background-color: var(--color-lavenderblush);
  border-radius: var(--br-8xs);
  border: none;
  font-size: large;
  color: black;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: 0.3s;
  /* Define styles for the button */
  /* background-color: black; */
}

.diagnose:hover {
  /* color: black; */
  /* background-color: white; */
  background-color: var(--color-deeppink-100);
  color: white;
  /* background-color: #0056b3; */
  /* Define styles for the button on hover */
  /* background-color: black; */
}

/* .diagnose-active {
  /* Define styles for the button whesn audio file is uploaded */
  /* background-color: black; */
/* } */

.Predictions {
  position: relative;
  top: 830px;
  font-size: var(--font-size-5xl-2);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.audio-player {
  position: relative;
  top: 560px;
  color: var(--color-black);
}

.graph-container {
  position: relative;
  top: 700px;
  left: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}